/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

#define HOST_OS 2
#include "zmk-helpers/helper.h"
#include "zmk-helpers/unicode-chars/swedish.dtsi"

#define ZMK_POINTING_DEFAULT_MOVE_VAL 2000  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 30    // default: 10

#define DEF 0
#define SWE 1
#define SYM 2
#define NAV 3
#define FN 4
#define MED 5

#define OPT_ESC &mt LALT ESC
#define NAV_BSPC &lt NAV BSPC 
#define RSHFT_DEL &mt RSHFT DEL 
#define SYM_SPACE &lt SYM SPACE
#define FN_RET &lt FN RET

// Mouse Movements
#define M_UP &mmv MOVE_UP
#define M_DOWN &mmv MOVE_DOWN
#define M_LEFT &mmv MOVE_LEFT
#define M_RIGHT &mmv MOVE_RIGHT

// BLUETOOTH
#define BT1 &bt BT_SEL 0
#define BT2 &bt BT_SEL 1
#define BT3 &bt BT_SEL 2
#define BT4 &bt BT_SEL 3
#define BT5 &bt BT_SEL 4
#define BTCLR &bt BT_CLR


// 
//,-----------------------------------.              ,-----------------------------------.
//|  0 |  1 |  2 |  3 |  4 |  5 |      |              |      |  6 |  7 |  8 |  9 | 10 | 11 |
//|----+----+----+----+----+----|      |              |      |----+----+----+----+----+----|
//| 12 | 13 | 14 | 15 | 16 | 17 |      |              |      | 18 | 19 | 20 | 21 | 22 | 23 |
//|----+----+----+----+----+----|      |              |      |----+----+----+----+----+----|
//| 24 | 25 | 26 | 27 | 28 | 29 |      |              |      | 30 | 31 | 32 | 33 | 34 | 35 |
//`--------------------------+--+--+--+              +--+--+--+--------------------------'
//                       | 36| 37| 38|                | 39| 40| 41|
//                       `-----------'                `-----------'

/ {
        macros {

        };
};

/ {

        combos {
            compatible = "zmk,combos";
            combo_copy {
                timeout-ms = <50>;
                key-positions = <27 28>;
                bindings = <&kp LG(C)>;
                slow-release;
                layers = <0>;
            };

            combo_paste {
                timeout-ms = <50>;
                key-positions = <28 29>;
                bindings = <&kp LG(V)>;
                slow-release;
                layers = <0>;
            };

            combo_screenshot {
                timeout-ms = <50>;
                key-positions = <13 14 15>;
                bindings = <&kp LC(LS(S))>;
                slow-release;
                layers = <0>;
            };
        };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default {
                        display-name = "DEFAULT";
                        bindings = <
// --------- | ----- | ----- | ----- | ----- | ----- |            | ----- | ----- | --------- | ------- | -------- | --------- |
   &kp TAB     &kp Q   &kp W   &kp E   &kp R   &kp T                &kp Y   &kp U     &kp I      &kp O      &kp P    &kp GRAVE
// --------- | ----- | ----- | ----- | ----- | ----- |            | ----- | ----- | --------- | ------- | -------- | --------- |
   OPT_ESC     &kp A   &kp S   &kp D   &kp F   &kp G                &kp H   &kp J     &kp K      &kp L    &kp SEMI    &kp SQT 
// --------- | ----- | ----- | ----- | ----- | ----- |            | ----- | ----- | --------- | ------- |--------- | --------- |
   &kp LSHFT   &kp Z   &kp X   &kp C   &kp V   &kp B                &kp N   &kp M   &kp COMMA   &kp DOT   &kp FSLH    &mo MED 
                   // | -------- | --------- | --------- |    | ------- | -------- | --------- |
                        &kp LCMD   &kp LCTRL   SYM_SPACE         FN_RET   NAV_BSPC   RSHFT_DEL
                        >;
                };

                swedish {
                        display-name = "SWEDEN";
                        bindings = <
// --------- | ----- | ----- | ----- | ----- | ----- |            | ----- | ----- | --------- | ------- | -------- | --------- |
    &kp TAB    &kp Q   &kp W   &kp E   &kp R   &kp T                &kp Y   &kp U     &kp I      &kp O      &kp P     &sv_ao
// --------- | ----- | ----- | ----- | ----- | ----- |            | ----- | ----- | --------- | ------- | -------- | --------- |
    OPT_ESC    &kp A   &kp S   &kp D   &kp F   &kp G                &kp H   &kp J     &kp K      &kp L     &sv_oe     &sv_ae 
// --------- | ----- | ----- | ----- | ----- | ----- |            | ----- | ----- | --------- | ------- |--------- | --------- |
   &kp LSHFT   &kp Z   &kp X   &kp C   &kp V   &kp B                &kp N   &kp M   &kp COMMA   &kp DOT   &kp FSLH    &tog SWE 
                   // | -------- | --------- | --------- |    | ------- | -------- | --------- |
                        &kp LCMD   &kp LCTRL   SYM_SPACE        FN_RET    NAV_BSPC   RSHFT_DEL
                        >;
                };

                symbols {
                        display-name = "SYMBOLS";
                        bindings = <
// --------- | -------- | ------ | -------- | -------- | --------- |        | --------- | --------- | -------- | -------- | --------- | -------- |
     &none     &kp EXCL   &kp AT   &kp HASH   &kp DLLR   &kp PRCNT            &kp CARET   &kp AMPS    &kp LPAR   &kp RPAR   &kp STAR    &kp PIPE
// --------- | -------- | ------ | ---------| -------- | --------- |        | --------- | --------- | -------- | -------- | --------- | -------- |
     &none      &kp N1    &kp N2    &kp N3     &kp N4     &kp N5              &kp MINUS   &kp EQUAL   &kp LBKT   &kp RBKT   &kp COLON   &kp DQT
// --------- | -------- | ------ | -------- | -------- | --------- |        | --------- | --------- | -------- | -------- | --------- | -------- |
   &kp LSHFT    &kp N6    &kp N7    &kp N8     &kp N9     &kp N0              &kp UNDER   &kp PLUS    &kp LBRC   &kp RBRC   &kp BSLH    &none
                                  // | -------- | --------- | ------ |    | ------- | ------ | ----- |
                                       &kp LGUI   &kp LCTRL   &trans        &kp RET   &trans   &none
                        >;
                };

                navigation {
                        display-name = "NAV";
                        bindings = <
//,--------|--------|--------|------|-------|--------|              |-------|--------|--------|--------|--------|---------|
   &none     &none    &none    M_UP   &none   &kp LCMD(EQUAL)                  &kp CARET   &kp AMPS   &kp LPAR   &kp RPAR   &kp STAR   &kp PIPE
//,------|---------------|--------|--------|---------|------|       |---------|----------|--------|-----------|----------|---------|
   &none    &msc SCRL_UP   M_LEFT   M_DOWN   M_RIGHT   &kp LCMD(MINUS)         &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT   &kp HOME   &kp END
//,--------- |---------------|-------|----------|----------|------|  |-------|--------|--------|--------|--------|---------|
   &kp LSHFT  &msc SCRL_DOWN   &none   &mkp MB2   &mkp MB1   &kp LCMD(PLUS)   &sv_ae    &sv_ao   &sv_oe   &none &none  &none
//,-----------------------------------------------------|                    |-----------------------------------------------------|
                                 &kp LGUI  &kp LCTRL  &trans        &kp RET  &trans   &none
                        >;
                };

                function {
                        display-name = "FN";
                        bindings = <
// --------- | -------- | ------ | -------- | -------- | --------- |        | --------- | --------- | -------- | -------- | --------- | -------- |
    &tog SWE     &none    &none     &none      &none       &none              &kp CARET   &kp AMPS    &kp LPAR   &kp RPAR   &kp STAR    &kp PIPE
// --------- | -------- | ------ | ---------| -------- | --------- |        | --------- | --------- | -------- | -------- | --------- | -------- |
     &none     &kp F1    &kp F2    &kp F3     &kp F4     &kp F5              &kp MINUS   &kp EQUAL   &kp LBKT   &kp RBKT   &kp COLON   &kp DQT
// --------- | -------- | ------ | -------- | -------- | --------- |        | --------- | --------- | -------- | -------- | --------- | -------- |
     &none     &kp F6    &kp F7    &kp F8     &kp F9     &kp F10              &kp UNDER   &kp PLUS    &kp LBRC   &kp RBRC   &kp BSLH    &none
                                  // | -------- | --------- | ------ |    | ------- | ------ | ----- |
                                       &kp LGUI   &kp LCTRL   &trans        &kp RET   &trans   &none
                        >;
                };

                media {
                        display-name = "MEDIA";
                        bindings = <
// --------- | -------- | ------ | -------- | -------- | --------- |        | --------- | ---------- | ------------ | ------------ | --------- | -------- |
     &none       BT1       BT2       BT3        BT4        BT5                  &none       &none         &none           &none        &none      &none
// --------- | -------- | ------ | ---------| -------- | --------- |        | --------- | ---------- | ------------ | ------------ | --------- | -------- |
     BTCLR      &kp F1    &kp F2    &kp F3     &kp F4     &kp F5                &none     &kp C_PREV     &kp C_PP     &kp C_NEXT       &none      &none
// --------- | -------- | ------ | -------- | -------- | --------- |        | --------- | ---------- | ------------ | ------------ | --------- | -------- |
     &none      &kp F6    &kp F7    &kp F8     &kp F9     &kp F10               &none     &kp C_MUTE   &kp C_VOL_DN   &kp C_VOL_UP    &kp F13     &trans
                                  // | -------- | --------- | ------ |    | ------- | ------ | ----- |
                                       &kp LGUI   &kp LCTRL   &trans        &kp RET   &trans   &none
                        >;
                };
        };

};

